@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap");

body {
  font-family: "Edu SA Beginner";
  font-size: larger;
  background: black;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #1fd1f9;
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: grey;
}
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: #b621fe;
}

link {
  text-decoration: none;
}

/* Styles */
.navbarr {
  box-shadow: 0 8px 12px -8px #1fd1f9;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  overflow: hidden;
}
.social-icons {
  border: 1px solid white;
  padding: 3px;
  border-radius: 50%;
  margin-right: 15px;
  font-size: x-large;
  cursor: pointer;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  width: 90%;
}
.header-flex-box {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.header-button {
  width: 15rem;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  color: white;
  padding: 10px;
  cursor: none;
  border: none;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(
    315deg,
    rgb(182, 33, 254, 0.65) 0%,
    rgb(31, 209, 249, 0.65) 94%
  ); */
  min-height: 100vh;
}
.skills-cntained {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgb(69, 73, 74); */
}
.skills-container {
  background: black;
  border-radius: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
  border: 1px solid gray;
}
.skills-title {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills-title-h1 {
  color: #b621fe;
  font-size: 4rem;
}
@keyframes rotat {
  100% {
    transform: rotate(1turn);
  }
}
.rounded {
  width: 5rem;
  height: 5rem;
  border: 3px solid #1fd1f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(to right, #b621fe, #1fd1f9);
  position: absolute;
  /* animation: rotat 6s linear infinite reverse; */
}
.carousel {
  display: flex;
  justify-content: space-between;
  margin: 4% 0;
  width: 90%;
}
.projects {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.projects-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-tabs {
  width: 100%;
}
.all-projects-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ap-image-container {
  width: 20rem;
  height: 50vh;
  margin: 2.5rem 0;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.ap-image-container::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  background-image: linear-gradient(
    315deg,
    rgb(31, 209, 249, 0.8) 0%,
    rgb(182, 33, 254, 0.8) 74%
  );
  transform-origin: center;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
}
.ap-image-container:hover::before {
  transform: scale(1);
}
.ap-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.ap-image-hover {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  visibility: hidden;
  z-index: 1;
  color: white;
}
.ap-image-hover a {
  padding: 1rem;
  border-radius: 10px;
  background-color: #1fd1f9;
}
.ap-image-hover a:not(:last-child) {
  margin-right: 1rem;
}
.ap-image-container:hover .ap-image-hover {
  transition: all 0.5s ease-in-out 0.2s;
  visibility: visible;
  top: 50%;
}
.nav-tabs {
  border-bottom: none;
}
.nav {
  justify-content: center;
}
.nav-tabs .nav-link {
  color: white;
  font-size: larger;
  font-weight: bold;
  border: 1px solid #1fd1f9;
  background: #1fd1f9;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.nav-tabs .nav-link.active {
  color: white;
  font-size: larger;
  font-weight: bold;
  border: 1px solid #b621fe;
  background: #b621fe;
  margin-right: 2rem;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact-map {
  width: 45%;
  height: 70vh;
  border: 10px solid #b621fe;
}
.contact-form {
  width: 45%;
}
.contact-input-flex {
  display: flex;
  justify-content: space-between;
}
.get-in-touch input,
textarea {
  outline: none;
  border: 1px solid #1fd1f9;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background: none;
  color: white;
  margin: 1rem 0;
}
.toast-notification {
  background-color: white;
  position: fixed;
  right: 1rem;
  top: 6rem;
  z-index: 5;
  max-width: 380px;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  box-shadow: 2px 2px #464a4b;
  animation: slideIn 1.4s cubic-bezier(1, 0.19, 0.51, 1.19);
}

.notification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.notification-container p {
  margin-left: 1.9rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}

.notification-container .icon {
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
}
.success {
  color: #1fd1f9;
}
.error {
  color: red;
}
.close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: 0.2s linear;
}
.close:hover {
  background-color: #dcdcdc;
}

@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 1rem;
  }
}
.footer {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.footer-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #1fd1f9;
  padding: 3rem 0;
}
.footer-logo {
  color: #b621fe;
}
.footer-right {
  text-align: right;
}

/* Responsive */
@media (max-width: 767px) {
  .header-flex {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .header-flex-box {
    width: 100%;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
  }
  .skills-container {
    width: 90%;
  }
  .skills-title {
    width: 90%;
  }
  .all-projects-container {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .ap-image-container {
    width: 100%;
  }
  .contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-map {
    width: 90%;
  }
  .contact-form {
    width: 90%;
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
  .carousel {
    width: 100%;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-right {
    text-align: center;
  }
  .toast-notification {
    max-width: 300px;
  }
}
